
<div style="margin: 2em" class="container">
  <carousel [timeLoop]="4000">
    <ng-container *ngFor="let diapers of formatDiapersList">
        <ng-container *carouselItem>
          <ng-container *ngFor="let diaper of diapers">
              <app-diaper  [diaper]="diaper" fxFlex="25"></app-diaper>
          </ng-container>
        </ng-container>
    </ng-container>
  </carousel>
</div>
<!-- <br/>
<div style="margin: 2em">
    <carousel [timeLoop]="4000">
      <ng-container *ngFor="let diaper of diapersList">
          <ng-container *carouselItem>
                <app-diaper  [diaper]="diaper" fxFlex="100"></app-diaper>
          </ng-container>
      </ng-container>
    </carousel>
</div> -->