
<div style="margin: 2em" class="container" fxShow.sm="false"  fxShow.xs="false" fxShow.lt-md="false" fxShow="true">
  <carousel [timeLoop]="4000">
    <ng-container *ngFor="let diapers of formatDiapersList">
        <ng-container *carouselItem>
          <ng-container *ngFor="let diaper of diapers">
              <app-diaper  [diaper]="diaper" fxFlex="25"></app-diaper>
          </ng-container>
        </ng-container>
    </ng-container>
  </carousel>
</div>
<br/>
<div style="margin: 2em" fxShow.sm="true"  fxShow.xs="true" fxShow.lt-md="true" fxShow="false">
    <carousel [timeLoop]="4000">
      <ng-container *ngFor="let diaper of diapersList">
          <ng-container *carouselItem>
                <app-diaper  [diaper]="diaper" fxFlex="100"></app-diaper>
          </ng-container>
      </ng-container>
    </carousel>
</div>