
.col {
  padding: 25px;
}

.section-top{
  background-color: #FF1493;
  color: white;
}
.section-copyright{
  background-color: #FF1493;
}

#copyright {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: white
}

.mouse-pointer {
  cursor: pointer;
}