
.col {
  padding: 25px;
}

  .section-top{
    
    background-color: #ffdd03;
  }
  .section-copyright{
    background-color: #ffdd03;
  }

  #copyright {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
  }