<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card fxFlex="100" [fxFlex.md]="100" [fxFlex.sm]="100" [fxFlex.xs]="100">
    <mat-card-title fxLayoutAlign="center">{{ 'Login.Title' | translate }}</mat-card-title>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="login()">

        <div fxLayout="row">
          <mat-form-field fxFill>
              <input type="text" matInput placeholder="{{ 'Login.Email' | translate}}" formControlName="emailControl"
              pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,3})+$" required>
              <mat-error *ngIf="loginForm.get('emailControl').invalid">{{getEmailErrorMessage()}}</mat-error>
              
            </mat-form-field>
        </div>
        
        <div fxLayout="row">
            <mat-form-field fxFill>
              <input type="password" matInput placeholder="{{ 'Login.Password' | translate }}" formControlName="password" required>
              <mat-error *ngIf="loginForm.get('password').invalid">{{getPasswordErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
        
        <br/>
        <div fxLayout="row" fxLayoutAlign="center center">
          <button class="buttonGroup" type="submit" type="submit" mat-raised-button color="primary">{{ 'Login.Login' | translate }}</button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>