<section id="carouselExampleControls" class="carousel-wrapper" 
(mouseenter) ="mouseEnter()" (mouseleave) ="mouseLeave()"
[ngStyle]="carouselWrapperStyle" (window:resize)="onResize()">
  <ul fxLayout="row" #carousel>
    <li *ngFor="let item of items; let i = index" class="carousel-item">
      
      <ng-container [ngTemplateOutlet]="item.tpl">{{index}}</ng-container>
    </li>
  </ul>
</section>
<div  style="margin-top: 1em; text-align: center" fxLayoutAlign="space-around">
    <button (click)="prev()" (mouseenter) ="mouseEnter()" (mouseleave) ="mouseLeave()" 
    href="#carouselExampleControls" mat-fab class="button-next">
        <i class="material-icons">
            arrow_back_ios
        </i>              
    </button>
    <button (click)="next()" (mouseenter) ="mouseEnter()" (mouseleave) ="mouseLeave()"
     href="#carouselExampleControls" mat-fab class="button-prev">
        <i class="material-icons">
            arrow_forward_ios
        </i>          
    </button>
</div>