
.container-header {
    background-color: #FF1493;
    color: white;
}

.cursor {
    cursor: pointer;
}

.style-icon {
    padding: 0 14px;
}

.material-icon{
    margin-bottom: -16px;
}
.col-company span {
    font-size: 22px;
    font-weight: 900;
}

.logo {
    position: relative;
    z-index: 2;
}

.header-title-button {
    font-size: 1.4em;
    font-weight: 800;
}
