
.container-header {
    background-color: #ffdd03;
    color: #636363;
    //height: 200px;
    line-height: 3.8em;
}

.cursor {
    cursor: pointer;
}

.style-icon {
    padding: 0 14px;
}

.material-icon{
    margin-bottom: -16px;
}
.col-company span {
    font-size: 22px;
    font-weight: 900;
}
button {
    font-size: 1.1em;
}