
<div class="container-header" fxLayout.lg="row" fxLayout="column">
    <div class="col-company"  fxFlex="20" fxFlexAlign="center">
        <div fxLayout="row" fxLayoutAlign="center"> 
            <span>{{ 'Company' | translate}}</span> 
        </div>
    </div>
    <div class="col-items"  fxFlex="80" fxFlexAlign="center">
       <div fxLayout="row-reverse" fxLayoutGap="20px">
           <button mat-button (click)="openCreateUserModal()">{{ 'Header.CreateUser' | translate }}</button>
           <button mat-button (click)="openLoginModal()">{{ 'Header.Login' | translate }}</button>
           <div mat-button [matMenuTriggerFor]="menu" class="cursor material-icon">
                <mat-icon class="style-icon" aria-hidden="false">language</mat-icon>
            </div>
       </div>
    </div>
</div>

<div fxLayout="column">
    <mat-menu #menu="matMenu">
        <div *ngFor="let item of this.languages;let i = index" id={{i}}>
        <a mat-menu-item (click)="switchLanguage(item.code)" title={{item.name}} >{{item.name}}</a>
        </div>
    </mat-menu>
</div>