<mat-toolbar class="background-header">
  
    <mat-toolbar-row fxLayout="row wrap" fxFlexFill style="padding: 20px">
      
        <div><span>{{ 'Company' | translate}}</span> </div>
      

        <div mat-button [matMenuTriggerFor]="menu" class="cursor material-icon">
            <mat-icon class="style-icon" aria-hidden="false">language</mat-icon>
        </div>
      
        <div fxFlex="80" fxFlexAlign="end">
            <button class="buttonGroup"
                mat-raised-button 
                color="primary" (click)="openCreateUserModal()">{{ 'Header.CreateUser' | translate }}</button>
            &nbsp;
            <button class="buttonGroup"
                mat-raised-button 
                color="primary" (click)="openLoginModal()">{{ 'Header.Login' | translate }}</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

<div fxLayout="column">
    <mat-menu #menu="matMenu">
        <div *ngFor="let item of this.languages;let i = index" id={{i}}>
        <a mat-menu-item (click)="switchLanguage(item.code)" title={{item.name}} >{{item.name}}</a>
        </div>
    </mat-menu>
</div>